#title {
  transition: border-color 0.5s ease;
}
#title: focus {
  border-color: #fff;
}

.pure-form input[type="text"],
.pure-form textarea {
  border: 0;
  box-shadow: none;
  font: 400 24px/1.6 'Lato', Helvetica, sans-serif;
  color: #444;
  outline: 0;
  width: 100%;
  padding: 0.2em 0.6em;
}

textarea {
  margin-top: 1em;
  margin-left: 0.3em;
  height: 100%;
  min-height: 16em;
}

input: focus,
textarea: focus {
  color: #777;
}

.pure-form input.minor {
  position: relative;
  font-size: 14px;
  margin-left: 1em;
  width: 40%;
  border: 1px solid #eee;
}

#actions {
  position: absolute;
  bottom: -100px;
  width: 100%;
  background: #333;
}

#actions > .inner {
  padding: 2em 0;
}

.button {
  background: #000;
  color: #eee;
  line-height: 1;
  font-size: 18px;
  padding: 13px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 900;
}

.checked {
  background: #3a6;
}

.checked: before {
  content: "\2713  ";
}

.ghost {
  transition: opacity 1s;
  opacity: 0;
}

.boo {
  opacity: 1;
}
