<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Adrian Unger">

    <title>Gumblog &mdash; Write</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>

    <div id="main" role="main" style="margin: 1em auto; max-width: 980px;">
      <div id="app"></div>
    </div>

    <!--<div id="actions">-->
      <!--<div class="inner">-->
        <!--<a class="button checked" href="">Draft</a>-->
        <!--<a class="button" href="">Public</a>-->
        <!--<a id="save" class="button" href="">Save</a>-->
      <!--</div>-->
    <!--</div>-->

    <script src="assets/index.min.js"></script>

  </body>
</html>
